<p>Create boxer</p>
@using (Html.BeginForm("Create", "Boxer", FormMethod.Post))
{
<table>
    <tr>
        <td><p>Boxer name </p></td>
        <td><input type="text" name="Name" /> </td>
    </tr>
    <tr>
        <td><input type="submit" value="Add boxer" /> </td>
        <td></td>
    </tr>
</table>
}