<p>Create new Battle</p>
@using (Html.BeginForm("Create", "Battle", FormMethod.Post))
{
    <table>
        <tr>
            <td><p>First boxer name </p></td>
            <td><input type="text" name="FirstBoxerName" /> </td>
        </tr>
        <tr>
            <td><p>Second boxer name </p></td>
            <td><input type="text" name="SecondBoxerName" /> </td>
        </tr>
        <tr>
            <td><p>Winner name</p></td>
            <td><input type="text" name="WinnerName" /> </td>
        </tr>
        <tr>
            <td><p>Date of battle</p></td>
            <td><input type="text" name="Date" /> </td>
        </tr>
        <tr>
            <td><p>Amount of rounds</p></td>
            <td><input type="text" name="AmountOfRounds" /> </td>
        </tr>
        <tr>
            <td><p>Referee points</p></td>
            <td><input type="text" name="RefereePoints" /> </td>
        </tr>
        <tr>
            <td><input type="submit" value="Create battle" /> </td>
            <td></td>
        </tr>
    </table>
}
